{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "quotes": [2, "double"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
